.poll_container{
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.15),
    8px 8px 12px 0 rgba(255, 255, 255, 0.5);
}
