.login {
    background: linear-gradient(to right, #e6dada 0%, #4e6c74 100%);
    height: 100vh;
    /* padding-top: 8%; */
}
.spacer {
    height: 18%;
}
.paper {
    padding: 5%;
}
.form-title{
    text-align: center;
}

.form-title span{
    font-size: 6vh;
    font-weight: bold;
    color: #303F9F;
    font-family: 'Courier New', Courier, monospace;
}